# Logs
logs
*.log
npm-debug.log*

# Allow reference logs
!reference/edge-server-logs/**

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Do not Node/NPM package-lock feature.
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# A temporary location to use as a scratchpad
tmp/

# Protect secrets from getting into source control
.secrets

# Edge Server
edge-server/config/

# Object Management Service
sites/object-management-service/config/**
!sites/object-management-service/config/start.toml

# ADK Avy
sites/adkavy/config/**
!sites/adkavy/config/start.toml
sites/adkavy/end-to-end-tests/aws-s3-client/config/**
sites/adkavy/end-to-end-tests/aws-dynamodb-client/config/**

