{{> site_head }}
{{> header }}
<article id="page-donate" class="page-article">
<section class="width-wrapper">
	<h2 class="heading2--light">Where does my donation go?</h2>
	<p>Your donation will go to improving and maintaining this site. You can help us dream big and develop the future of the program. There are real humans running this who would greatly appreciate your support.</p>
	<p>
		<a href="https://www.paypal.com/donate/?hosted_button_id=3ARVJH3UEDXAU" target="_blank" class="button button--filled button--icon-start">
			<i class="button__icon material-symbols-outlined">volunteer_activism</i>
			<span class="button__label">Donate Now</span>
		</a>
	</p>
</section>
<section id="team">
	<header class="section--dark">
		<div class="width-wrapper">
			<h2>Meet The Team</h2>
			<p>Your friendly neighborhood backcountry enthusiasts providing you with a community hub to share observations.</p>
		</div>
	</header>
	<div id="team__row" class="width-wrapper">
		<div class="image-text-section image-text-section--vertical">
			<div class="image-text-section__image-wrapper">
				<img
					src="https://kixx-stage.imgix.net/1aae912a-6ea7-4bfb-9e65-6305e3fa371c.jpg?ar=4:3&fit=crop&w=300"
					srcset="https://kixx-stage.imgix.net/1aae912a-6ea7-4bfb-9e65-6305e3fa371c.jpg?ar=4:3&fit=crop&w=300 300w, https://kixx-stage.imgix.net/1aae912a-6ea7-4bfb-9e65-6305e3fa371c.jpg?ar=4:3&fit=crop&w=600 600w, https://kixx-stage.imgix.net/1aae912a-6ea7-4bfb-9e65-6305e3fa371c.jpg?ar=4:3&fit=crop&w=900 900w, https://kixx-stage.imgix.net/1aae912a-6ea7-4bfb-9e65-6305e3fa371c.jpg?ar=4:3&fit=crop&=1200 1200w"
					sizes="(min-width: 46rem) 50vw, 98vw"
					alt="A placeholder image">
			</div>
			<div class="image-text-section__content">
				<h3>Caitlin Kelly</h3>
				<p>On a good day in the Adirondacks, there is nowhere else in the world Caitlin would rather be skiing.</p>
				<p>In 2014 she took her AIARE 1 course in the Tetons with St. Lawrence University. There she earned course credit and a deep love for snow science, backcountry travel, and powder skiing. After graduating she put down roots in the Adirondacks, while also traveling the west in the winter to ski and test gear with Powder Magazine.</p>
				<p>She has been on the Whiteface Mountain Ski Patrol for 3 seasons, while also working with other patrollers to assess snowpack and safety on the mountain's slide terrain. She has multiple years of experience working on public lands, and is also a freelance writer, with work appearing in Powder, Freeskier, The Ski Journal, and other local magazines.</p>
				<p>She currently holds her AIARE Avalanche 1, AIARE Companion Rescue, and WFR Certification</p>
			</div>
		</div>
		<div class="image-text-section image-text-section--vertical">
			<div class="image-text-section__image-wrapper">
				<img
					src="https://kixx-stage.imgix.net/2b649c14-22c0-4ed6-a114-c10ac9eca693.jpg?ar=4:3&fit=crop&w=300"
					srcset="https://kixx-stage.imgix.net/2b649c14-22c0-4ed6-a114-c10ac9eca693.jpg?ar=4:3&fit=crop&w=300 300w, https://kixx-stage.imgix.net/2b649c14-22c0-4ed6-a114-c10ac9eca693.jpg?ar=4:3&fit=crop&w=600 600w, https://kixx-stage.imgix.net/2b649c14-22c0-4ed6-a114-c10ac9eca693.jpg?ar=4:3&fit=crop&w=900 900w, https://kixx-stage.imgix.net/2b649c14-22c0-4ed6-a114-c10ac9eca693.jpg?ar=4:3&fit=crop&w=1200 1200w"
					sizes="(min-width: 46rem) 50vw, 98vw"
					alt="A placeholder image">
			</div>
			<div class="image-text-section__content">
				<h3>Nate Trachte</h3>
				<p>A transplant to the Adirondacks, Nate moved to Lake Placid in 2008 to attend National Sports Academy and compete as an alpine ski racer. Now wearing less spandex he has 8 years of backcountry skiing experience. Although he was not born in the 'Dacks, his passion for winter began at Whiteface Mountain's Kids Campus, where he first got on skis right around the time he began to walk.</p>
				<p>After graduating high school he attended Fort Lewis College in Durango, Colorado. Living in the San Juan Mountains, he fell in love with human powered skiing, necessitating the completion of an AIARE Avalanche 1 course. After leaving Colorado he went on to obtain a Master's Degree in Environmental Education from Western Washington University and the North Cascades Institute.</p>
				<p>Recently he has come back to the Adirondacks to work as a coordinator for Lake Champlain Sea Grant's K-12 Watershed Alliance program based out of SUNY Plattsburgh. When he is not in the field teaching you can find him, rediscovering his home mountain range on skis, a bike, or in a canoe.</p>
			</div>
		</div>
	</div>
</section>
</article>
{{> footer }}
{{> site_foot }}
