{{> site_head }}
{{> header }}
<article id="page-education" class="page-article">
<section class="hero-section">
	<img src="{{ hero_image.url }}?ar=2:1&fit=crop&w=600"
		srcset="{{ hero_image.url }}?ar=2:1&fit=crop&w=600 600w, {{ hero_image.url }}?ar=2:1&fit=crop&w=1000 1000w, {{ hero_image.url }}?ar=2:1&fit=crop&w=1500 1500w, {{ hero_image.url }}?ar=2:1&fit=crop&w=3000 3000w" 
		sizes="100vw"
		alt="A skier carving turns through powder snow in back country mountains">
	<div class="hero-section__scrim">
		<div class="width-wrapper">
			<div class="hero-section__content">
				<h2>Avalanche Education</h2>
				<p>Expand your knowledge and awareness of avalanches.</p>
			</div>
		</div>
	</div>
</section>
<nav class="post-hero-navigation">
	<div class="post-hero-navigation__links width-wrapper">
		<a href="/observations" class="button button--secondary button--outlined button--icon-start">
			<i class="button__icon material-symbols-outlined">dynamic_feed</i>
			<span class="button__label">View Observations</span>
		</a>
		<a href="/create-observation" class="button button--secondary button--filled button--icon-start">
			<i class="button__icon material-symbols-outlined">edit_square</i>
			<span class="button__label">Post Observation</span>
		</a>
	</div>
</nav>
<div class="width-wrapper" id="page-education__body">
	<section class="external-resource-links">
		<header>
			<h2 class="heading2--light">National Avalanche Center <small>(avalanche.org)</small></h2>
		</header>
		<div class="external-resource-links__item">
			<a href="https://avalanche.org/avalanche-tutorial/" target="_blank">
				<h3>Interactive Avalanche Tutorial</h3>
				<p>An online interactive presentation providing the basic anatomy of avalanches.</p>
			</a>
		</div>
		<div class="external-resource-links__item">
			<a href="https://avalanche.org/avalanche-encyclopedia/" target="_blank">
				<h3>Avalanche Encyclopedia</h3>
				<p>Videos, photos, and a host of information all about avalanches.</p>
			</a>
		</div>
		<div class="external-resource-links__item">
			<a href="https://avalanche.org/avalanche-encyclopedia/#avalanche-problems" target="_blank">
				<h3>Avalanche Encyclopedia - Avalanche Problems</h3>
				<p>Videos and descriptions of avalanche hazards.</p>
			</a>
		</div>
		<div class="external-resource-links__item">
			<a href="https://avalanche.org/avalanche-accidents/" target="_blank">
				<h3>Accidents</h3>
				<p>A listing of avalanche accident reports.</p>
			</a>
		</div>
	</section>
	<section class="external-resource-links">
		<header>
			<h2 class="heading2--light">Avalanche Canada</h2>
		</header>
		<div class="external-resource-links__item">
			<a href="https://www.avalanche.ca/dangerator" target="_blank">
				<h3>The Dangerator</h3>
				<p>The Dangerator is a tool to help estimate an avalanche danger rating for your local conditions when there is no forecast to advise you.</p>
			</a>
		</div>
	</section>
	<section class="external-resource-links">
		<header>
			<h2 class="heading2--light">Books</h2>
		</header>
		<div class="external-resource-links__item">
			<a href="https://mountaineer.com/staying-alive-in-avalanche-terrain/" target="_blank">
				<h3>Staying Alive in Avalanche Terrain</h3>
				<p>This course textbook is organized according to the structure of American Avalanche Association classes. Includes information on how to evaluate the safety of terrain conditions, how avalanches work, how to test snow stability and how to control your exposure and lower your risk.</p>
			</a>
		</div>
		<div class="external-resource-links__item">
			<a href="https://www.barnesandnoble.com/w/avalanche-essentials-bruce-tremper/1114683873" target="_blank">
				<h3>Avalanche Essentials</h3>
				<p>This new guide by renowned avalanche expert Bruce Tremper is simple, accessible, and offers just the basics — an Everyman’s guide to avalanche safety that won’t overtax your average ski bums, but will keep them safe when they’re going for 12 consecutive months of powder.</p>
			</a>
		</div>
	</section>
	<section class="external-resource-links">
		<header>
			<h2 class="heading2--light">Training Courses</h2>
		</header>
		<div class="external-resource-links__item">
			<a href="https://avtraining.org/upcoming-public-avalanche-training-courses/" target="_blank">
				<h3>Upcoming AIARE Courses</h3>
				<p>Upcoming public avalanche training courses with the American Institute for Avalanche Research and Education.</p>
			</a>
		</div>
	</section>
	<section class="external-resource-links">
		<header>
			<h2 class="heading2--light">Know Before You Go <small>(KBYG.org)</small></h2>
		</header>
		<div class="external-resource-links__item">
			<a href="https://vimeo.com/744747886/9453a14928" target="_blank">
				<h3>Video Presentation</h3>
				<p>Online video presentation outlining the basics of avalanche safety.</p>
			</a>
		</div>
		<section class="youtube-video">
			<iframe src="https://www.youtube.com/embed/sEQfhpyusvM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</section>
	</section>
</div>
</article>
{{> footer }}
{{> site_foot }}
