{{> site_head }}
{{> header }}
<article id="page-events" class="page-article">
<section class="hero-section">
	{{> hero_image }}
	<div class="hero-section__scrim">
		<div class="width-wrapper">
			<div class="hero-section__content">
				<h2>Local Events</h2>
				<p>Local events for backcountry enthusiasts in the Adirondacks.</p>
			</div>
		</div>
	</div>
</section>
<nav class="post-hero-navigation">
	<div class="post-hero-navigation__links width-wrapper">
		<a href="/observations" class="button button--secondary button--outlined button--icon-start">
			<i class="button__icon material-symbols-outlined">dynamic_feed</i>
			<span class="button__label">View Observations</span>
		</a>
		<a href="/create-observation" class="button button--secondary button--filled button--icon-start">
			<i class="button__icon material-symbols-outlined">edit_square</i>
			<span class="button__label">Post Observation</span>
		</a>
	</div>
</nav>
<section class="local-event width-wrapper">
	<header>
		<h3 class="local-event__date heading2--light">December 2, 2023 </h3>
		<h2 class="local-event__header">Backcountry Ski Kickoff Party!</h2>
		<h4 class="local-event__subheader">Walter Breeman Performing Arts Center, North Country School</h4>
	</header>
	<p>
	Join us to kick off the backcountry ski season right!! An evening to inspire and educate the backcountry community to protect and care for winter landscapes. Come on down to get psyched for winter!
	</p>

	<h3>What's Happening:</h3>
	<h4>Doors 5:45 pm | Presentation 6:00 - 6:45 pm at North County School</h4>

	<p>
<strong>ADK Avy Presentation!</strong> Anna Carpenter, Director of Saint Lawrence University Outdoor Program & friend of ADK Avy will present on snow safety, education, & avalanche awareness.
</p>
 
<p>
Greetings 7:15 pm | Films 7:30 pm at North Country School
Greetings from non-profits ADK Avy, APSA, BETA, & ADK Action!
</p>

	<h3>Films:</h3>
	<ul>
		<li><p><em>New Age of Reason</em> <br>Featuring Pep Fujas, from WNDR Alpine</p></li>
		<li><p><em>Revenge of the Topside Boys</em> <br>From Nikolai Schirmer & Black Crows</p></li>
		<li><p><em>The Meaningless Pursuit of Snow</em> <br>From Patagonia</p></li>
	</ul>

	<p>
Be sure to stick around for raffles & giveaways during intermission!
</p>

<p>
$10 suggested donation support local backcountry skiing advocacy programs and groups and/or canned goods for the local food pantry.
</p>
 
<p>
<strong>North Country School</strong><br>
<strong>Walter Breeman Performing Arts Center (WallyPAC)</strong><br>
<strong>4382 Cascade Rd. Lake Placid, NY 12946</strong><br>
<strong>https://mountaineer.com/upcoming-events/</strong>

	</p>
</section>
</article>
{{> footer }}
{{> site_foot }}
