{{> site_head }}
{{> header }}
<article id="page-home">
<section class="hero-section">
	<img src="{{ heroImage.url }}?ar=2:1&fit=crop&w=600"
		srcset="{{ heroImage.url }}?ar=2:1&fit=crop&w=600 600w, {{ heroImage.url }}?ar=2:1&fit=crop&w=1000 1000w, {{ heroImage.url }}?ar=2:1&fit=crop&w=1500 1500w, {{ heroImage.url }}?ar=2:1&fit=crop&w=3000 3000w" 
		sizes="100vw"
		alt="{{ heroImage.alt }}">
	<div class="hero-section__scrim">
		<div class="width-wrapper">
			<div class="hero-section__content">
				<h2>Adirondack Community<br>Avalanche Project</h2>
				<p>adk avy is a place where Adirondack winter enthusiasts gather to submit snowpack and avalanche observations.</p>
			</div>
		</div>
	</div>
</section>
<nav class="post-hero-navigation">
	<div class="post-hero-navigation__links width-wrapper">
		<a href="/observations" class="button button--secondary button--outlined button--icon-start">
			<i class="button__icon material-symbols-outlined">dynamic_feed</i>
			<span class="button__label">View Observations</span>
		</a>
		<a href="/create-observation" class="button button--secondary button--filled button--icon-start">
			<i class="button__icon material-symbols-outlined">edit_square</i>
			<span class="button__label">Post Observation</span>
		</a>
	</div>
</nav>
<section class="width-wrapper image-text-section image-text-section--reverse mission" id="mission">
	<div class="image-text-section__content">
		<h2>Mission of the Project</h2>
		<p>To increase awareness of avalanche hazards in the Adirondacks and share snowpack, avalanche, and weather observations to help our community mitigate the risks of winter recreation.</p>
	</div>
	<div class="image-text-section__image-wrapper">
		<img
			src="https://kixx-stage.imgix.net/f4360338-ae3a-4202-a75b-9093f00e9e96.jpg?w=300"
			srcset="https://kixx-stage.imgix.net/f4360338-ae3a-4202-a75b-9093f00e9e96.jpg?w=300 300w, https://kixx-stage.imgix.net/f4360338-ae3a-4202-a75b-9093f00e9e96.jpg?w=600 600w, https://kixx-stage.imgix.net/f4360338-ae3a-4202-a75b-9093f00e9e96.jpg?w=900 900w, https://kixx-stage.imgix.net/f4360338-ae3a-4202-a75b-9093f00e9e96.jpg?w=1200 1200w"
			sizes="(min-width: 46rem) 50vw, 98vw"
			alt="A skier climbing a mountain side on skis">
	</div>
</section>
<section class="width-wrapper image-text-section image-text-section--reverse mission" id="our-work">
	<div class="image-text-section__content">
		<h2>Our Work</h2>
		<p>Adirondack Community Avalanche Project is a community sourced collection of snowpack, weather, and avalanche observations. We rely on the expertise within our backcountry community to collect and share observations from the field. You can submit and view observations via the observation page on our website. We pursue partnerships and opportunities to increase avalanche education opportunities in the High Peaks region. Through this work we hope to amplify the conversation about avalanche awareness and preparedness in the Adirondacks. We encourage organizations and individuals to be proactive in their communications about avalanche risk.</p>
	</div>
	<div class="image-text-section__image-wrapper">
		<img
			src="https://kixx-stage.imgix.net/d9c57b99-39d3-40fb-9284-cdaa9b127022.jpg?w=300"
			srcset="https://kixx-stage.imgix.net/d9c57b99-39d3-40fb-9284-cdaa9b127022.jpg?w=300 300w, https://kixx-stage.imgix.net/d9c57b99-39d3-40fb-9284-cdaa9b127022.jpg?w=600 600w, https://kixx-stage.imgix.net/d9c57b99-39d3-40fb-9284-cdaa9b127022.jpg?w=900 900w, https://kixx-stage.imgix.net/d9c57b99-39d3-40fb-9284-cdaa9b127022.jpg?w=1200 1200w"
			sizes="(min-width: 46rem) 50vw, 98vw"
			alt="A skier climbing a mountain side on skis">
	</div>
</section>
<section id="team">
	<header class="section--dark">
		<div class="width-wrapper">
			<h2>Meet The Team</h2>
			<p>Your friendly neighborhood backcountry enthusiasts providing you with a community hub to share observations.</p>
		</div>
	</header>
	<div id="team__row" class="width-wrapper">
		<div class="image-text-section image-text-section--vertical">
			<div class="image-text-section__image-wrapper">
				<img
					src="https://kixx-stage.imgix.net/1aae912a-6ea7-4bfb-9e65-6305e3fa371c.jpg?ar=4:3&fit=crop&w=300"
					srcset="https://kixx-stage.imgix.net/1aae912a-6ea7-4bfb-9e65-6305e3fa371c.jpg?ar=4:3&fit=crop&w=300 300w, https://kixx-stage.imgix.net/1aae912a-6ea7-4bfb-9e65-6305e3fa371c.jpg?ar=4:3&fit=crop&w=600 600w, https://kixx-stage.imgix.net/1aae912a-6ea7-4bfb-9e65-6305e3fa371c.jpg?ar=4:3&fit=crop&w=900 900w, https://kixx-stage.imgix.net/1aae912a-6ea7-4bfb-9e65-6305e3fa371c.jpg?ar=4:3&fit=crop&=1200 1200w"
					sizes="(min-width: 46rem) 50vw, 98vw"
					alt="A placeholder image">
			</div>
			<div class="image-text-section__content">
				<h3>Caitlin Kelly</h3>
				<p>On a good day in the Adirondacks, there is nowhere else in the world Caitlin would rather be skiing.</p>
				<p>In 2014 she took her AIARE 1 course in the Tetons with St. Lawrence University. There she earned course credit and a deep love for snow science, backcountry travel, and powder skiing. After graduating she put down roots in the Adirondacks, while also traveling the west in the winter to ski and test gear with Powder Magazine.</p>
				<p>She has been on the Whiteface Mountain Ski Patrol for 3 seasons, while also working with other patrollers to assess snowpack and safety on the mountain's slide terrain. She has multiple years of experience working on public lands, and is also a freelance writer, with work appearing in Powder, Freeskier, The Ski Journal, and other local magazines.</p>
				<p>She currently holds her AIARE Avalanche 1, AIARE Companion Rescue, and WFR Certification</p>
			</div>
		</div>
		<div class="image-text-section image-text-section--vertical">
			<div class="image-text-section__image-wrapper">
				<img
					src="https://kixx-stage.imgix.net/2b649c14-22c0-4ed6-a114-c10ac9eca693.jpg?ar=4:3&fit=crop&w=300"
					srcset="https://kixx-stage.imgix.net/2b649c14-22c0-4ed6-a114-c10ac9eca693.jpg?ar=4:3&fit=crop&w=300 300w, https://kixx-stage.imgix.net/2b649c14-22c0-4ed6-a114-c10ac9eca693.jpg?ar=4:3&fit=crop&w=600 600w, https://kixx-stage.imgix.net/2b649c14-22c0-4ed6-a114-c10ac9eca693.jpg?ar=4:3&fit=crop&w=900 900w, https://kixx-stage.imgix.net/2b649c14-22c0-4ed6-a114-c10ac9eca693.jpg?ar=4:3&fit=crop&w=1200 1200w"
					sizes="(min-width: 46rem) 50vw, 98vw"
					alt="A placeholder image">
			</div>
			<div class="image-text-section__content">
				<h3>Nate Trachte</h3>
				<p>A transplant to the Adirondacks, Nate moved to Lake Placid in 2008 to attend National Sports Academy and compete as an alpine ski racer. Now wearing less spandex he has 8 years of backcountry skiing experience. Although he was not born in the 'Dacks, his passion for winter began at Whiteface Mountain's Kids Campus, where he first got on skis right around the time he began to walk.</p>
				<p>After graduating high school he attended Fort Lewis College in Durango, Colorado. Living in the San Juan Mountains, he fell in love with human powered skiing, necessitating the completion of an AIARE Avalanche 1 course. After leaving Colorado he went on to obtain a Master's Degree in Environmental Education from Western Washington University and the North Cascades Institute.</p>
				<p>Recently he has come back to the Adirondacks to work as a coordinator for Lake Champlain Sea Grant's K-12 Watershed Alliance program based out of SUNY Plattsburgh. When he is not in the field teaching you can find him, rediscovering his home mountain range on skis, a bike, or in a canoe.</p>
			</div>
		</div>
	</div>
</section>
<section class="home-faq section--dark" id="faq">
	<div class="width-wrapper">
		<h2 class="heading2--light">Frequently Asked Questions</h2>

		<div class="home-faq__content">
			<div class="home-faq__column">
				<h3>What happens to my observation once I submit it?</h3>
				<p>Your submission will be posted on the observations page for the general public to view.</p>

				<h3>Where is the avalanche forecast?</h3>
				<p>Unfortunately for us there is no avalanche forecasting service that covers us here in the Adirondacks. In fact, the main driver for the creation of this project was the absence of an avalanche center who could provide an avalanche forecast. Avalanche forecasts are created by professionals using; weather models, snowpack data, daily observations in the field, etc.</p>
			</div>
			<div class="home-faq__column">
				<h3>Why are you doing this?</h3>
				<p>We are running this project to increase awareness of avalanche hazards in the Adirondacks and to share snowpack, avalanche, and weather observations to help our community mitigate the risks of winter recreation.</p>

				<h3>Where does my donation go?</h3>
				<p>Your donation will go to improving and maintaining this site. You can help us dream big and develop the future of the program. There are real humans running this who would greatly appreciate your support.</p>
			</div>
		</div>

		<h3 class="heading3--light">Have more questions?</h3>
		<p>Contact us at <span class="email-address">adkcommunityavyobs@gmail.com</span> to get more information on the project.</p>
	</div>
</section>
</article>
{{> footer }}
{{> site_foot }}
