{{> site_head }}
{{> header }}

<header class="width-wrapper">
	<h1>Incident Reports</h1>
</header>

<section class="width-wrapper incident-reports-intro">
	<div class="incident-reports-intro__image-wrapper">
		<img
			src="https://kixx-stage.imgix.net/eb27b26b-fda0-4955-95e4-b7d1328d079e.jpg?ar=16:9&fit=crop&w=300"
			srcset="https://kixx-stage.imgix.net/eb27b26b-fda0-4955-95e4-b7d1328d079e.jpg?ar=16:9&fit=crop&w=300 300w, https://kixx-stage.imgix.net/eb27b26b-fda0-4955-95e4-b7d1328d079e.jpg?ar=16:9&fit=crop&w=600 600w, https://kixx-stage.imgix.net/eb27b26b-fda0-4955-95e4-b7d1328d079e.jpg?ar=16:9&fit=crop&w=900 900w, https://kixx-stage.imgix.net/eb27b26b-fda0-4955-95e4-b7d1328d079e.jpg?ar=16:9&fit=crop&w=1200 1200w"
			sizes="(min-width: 56rem) 50vw, 98vw"
			alt="A placeholder image">
	</div>
	<div class="incident-reports-intro__content observations-list__disclaimer">
		<h2 class="heading2--light">Understand The Risks</h2>
		<p>These incident reports are a tool to help mitigate risk, but in no way are they a complete representation of the avalanche hazards in the backcountry. We encourage users to take avalanche education courses, make their own observations, and understand the consequences of traveling in avalanche terrain, especially in the Adirondacks where there is no forecasting service. Use at your own risk.
		</p>
	</div>
</section>

<div id="incidents-list" class="width-wrapper">
	<div class="incident-card">
		<a href="/incident-reports/2022-02-12-angel-slides">
			<h4>2/12/2022</h4>
			<h3>Angel Slides - Wright Peak</h3>
		</a>
	</div>
</div>

{{> footer }}
{{> site_foot }}
