{{> site_head }}
{{> header }}
<article id="page-list-observations">
<section class="hero-section">
	{{> hero_image }}
	<div class="hero-section__scrim">
		<div class="width-wrapper">
			<div class="hero-section__content">
				<h2>Community Observations</h2>
				<p>The Adirondack backcountry community sharing snowpack, avalanche, and weather observations.</p>
			</div>
		</div>
	</div>
</section>
<nav class="post-hero-navigation">
	<div class="post-hero-navigation__links width-wrapper">
		<a href="/create-observation" class="button button--secondary button--filled button--icon-start">
			<i class="button__icon material-symbols-outlined">edit_square</i>
			<span class="button__label">Post Observation</span>
		</a>
	</div>
</nav>
<div id="observations-list" class="width-wrapper">
	<h1>Observations for the {{ pageLabel }} Season</h1>
	<nav class="observations-list-page-selector">
		<ul class="observations-list-page-selector__list">
			{{#each links.pages}}
			{{#unless this.isActive}}
			<li class="observations-list-page-selector__item">
				<a class="nav-link" href="{{ this.href }}">{{ this.label }} Season</a>
			</li>
			{{/unless}}
			{{/each}}
		</ul>
	</nav>
	<div class="observations-list__disclaimer">
		<h3 class="heading3--light">Understand The Risks</h3>
		<p>Adirondack Community Avalanche Project cannot vouch for the quality or accuracy of observations from the general public. These observations are a tool to help mitigate risk, but in no way are they a complete representation of the avalanche hazards in the backcountry. We encourage users to take avalanche education courses, make their own observations, and understand the consequences of traveling in avalanche terrain, especially in the Adirondacks where there is no forecasting service. Use at your own risk.
		</p>
	</div>
	{{#each observations}}
	<section class="observation-card observation-card--{{ this.observationType }}" data-id="{{ this.id }}">
		<a href="/observations/{{ this.id }}" class="observation-card__header">
			<h4 class="observation-card__header-info">
				<i class="observation-card__type-icon"></i>
				<span class="observation-card__type">{{observation_type_label this.observationType }}</span>
				<span class="observation-card__date">{{locale_date this.observationDateTime }}</span>
				{{#if this.name}}
				<span class="observation-card__author">by {{ this.name }}</span>
				{{/if}}
				{{#if this.hasMedia}}
				<i class="observation-card__has-photos material-symbols-outlined">local_see</i>
				{{/if}}
			</h4>
			<h2 class="observation-card__title">{{ this.title }}</h2>
			<h3 class="observation-card__location">{{ this.location }}</h3>
		</a>
	</section>
	{{/each}}
	<nav class="observations-list-page-selector">
		<h3>Links to other seasons:</h3>
		<ul class="observations-list-page-selector__list">
			{{#each links.pages}}
			{{#unless this.isActive}}
			<li class="observations-list-page-selector__item">
				<a class="nav-link" href="{{ this.href }}">{{ this.label }} Season</a>
			</li>
			{{/unless}}
			{{/each}}
		</ul>
	</nav>
</div>
</article>
{{> footer }}
{{> site_foot }}
