<style>
	/* Layout */
	#app-wrapper {
		display: flex;
		/* Help the absolutely positioned modal and scrim work correctly */
		position: relative;
	}
	#app-wrapper__main-content {
		position: relative;
		width: 100%;
	}
	#top-app-bar {
		position: absolute;
	}
	#app-main-content {
		padding: 0 18px 18px 18px;
	}

	/* Components */
	.panel {
		padding: 1rem;
	}

	.admin-form {
		padding: 1rem 0.5rem 1rem;
	}

	.form-row {
		margin-top: 2rem;
	}
	.form-row:first-child {
		margin-top: 0;
	}
	.form-actions {
		margin-top: 4rem;
		display: flex;
		justify-content: center;
	}
	.form-actions > .kx-button {
		width: 100%;
		max-width: 300px;
	}

	.sub-section {
		margin-top: 2rem;
		max-width: 1200px;
	}
	.sub-section > .kx-typography--headline5 {
		color: var(--kx-theme-text-secondary);
		margin-top: 0;
		margin-bottom: 0;
	}
	.sub-section > .kx-typography--headline3 {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	.sub-section .panel {
		margin-top: 2rem;
	}

	.upload-image-form__label {
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.upload-image-form__thumbnail > img {
		margin-top: 2rem;
		height: 400px;
		max-width: 800px;
		object-fit: contain;
	}
	.upload-image-form input[type="file"] {
		display: none;
	}

	.image-card__image-info {
		padding: 0 1rem;
	}
	.image-card__image-info code {
		font-family: monospace;
		font-size: 0.8rem;
	}

	.list-images__container {
		display: flex;
		flex-wrap: wrap;
	}
	.list-images__container > .image-card {
		margin-top: 2rem;
		margin-right: 2rem;
	}
	.list-images__container > .image-card:first-child {
		margin-top: 0;
	}

	/* Overrides */
	.kx-list-item > a {
		display: block;
		height: 48px;
		line-height: 48px;
		width: 100%;
		text-decoration: none;
		color: var(--kx-theme-text-primary);
	}
	.kx-list-item .kx-typography--button {
		line-height: 1.5rem;
	}
	:not(.kx-list-item--disabled).kx-list-item .kx-typography--button {
		color: var(--kx-theme-primary);
	}

	/* Specialists */
	#darkModeButton {
		color: var(--kx-theme-on-primary);
	}
	#darkModeButton:hover {
		background-color: rgba(255, 255, 255, 0.15);
	}
	.ds-dark-mode #darkModeButton:hover {
		background-color: rgba(0, 0, 0, 0.15);
	}
</style>
