<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="http://schema.org/WebPage">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page_title }}</title>
	<meta name="description" content="{{ page_description }}">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">

	<script>
	(function () {
		window.toggleDarkModeOn = function () {
			document.documentElement.classList.add('kx-dark-mode');
			localStorage.setItem('dark-mode', 'on');
		};

		window.toggleDarkModeOff = function () {
			document.documentElement.classList.remove('kx-dark-mode');
			localStorage.setItem('dark-mode', 'off');
		};

		if (localStorage.getItem('dark-mode') === 'on') {
			window.toggleDarkModeOn();
		}
	}());
	</script>

	<link rel="stylesheet" href="/assets/css/lib-admin.css">

	<script src="/assets/javascript/es6/lib-admin.js"></script>

	{{> admin_styles }}
</head>
<body>
<div id="app-wrapper">
	<div id="app-wrapper__main-content">
		<header id="top-app-bar" class="kx-top-app-bar">
			<div class="kx-top-app-bar__row">
				<section class="kx-top-app-bar__section kx-top-app-bar__section--align-start">
					<span class="kx-top-app-bar__title kx-typography--headline6">ADK Avy : Site Admin</span>
				</section>
				<section class="kx-top-app-bar__section kx-top-app-bar__section--align-end">
					<button id="darkModeButton" class="kx-button kx-button--icon-leading" aria-label="Dark Mode">
						<i class="kx-button__icon material-icons">dark_mode</i>
						<span class="kx-button__label">Dark Mode</span>
					</button>
				</section>
			</div>
			<script>
			(function () {
				const button = document.getElementById('darkModeButton');
				const icon = button.querySelector('.kx-button__icon');
				const text = button.querySelector('.kx-button__label');

				function isDarkModeOn() {
					return document.documentElement.classList.contains('kx-dark-mode');
				}

				function darkModeOff() {
					window.toggleDarkModeOff();
					text.innerText = 'Dark Mode';
					icon.innerText = 'dark_mode';
				}

				function darkModeOn() {
					window.toggleDarkModeOn();
					text.innerText = 'Bright Mode';
					icon.innerText = 'light_mode';
				}

				function toggleDarkMode() {
					if (isDarkModeOn()) {
						darkModeOff();
					} else {
						darkModeOn();
					}
				}

				button.addEventListener('click', toggleDarkMode);

				if (isDarkModeOn()) {
					darkModeOn();
				} else {
					darkModeOff();
				}
			}());
			</script>
		</header>
		<div id="app-main-content" class="ds-typography--body1">
			<div class="kx-top-app-bar--fixed-adjust"></div>
