<div id="layout-wrapper">

	<div id="site-header__top-nav">
		<nav class="width-wrapper">
			<a href="/observations">
				<i class="material-symbols-outlined">dynamic_feed</i>
				<span>Observations</span>
			</a>
			<a href="/weather">
				<i class="material-symbols-outlined">clear_day</i>
				<span>Weather</span>
			</a>
			<a href="/events">
				<i class="material-symbols-outlined">calendar_month</i>
				<span>Events</span>
			</a>
			<a href="/create-observation" class="site-header__top-nav-extra">
				<i class="material-symbols-outlined">edit_square</i>
				<span>Post Observation</span>
			</a>
		</nav>
	</div>

<div id="menu-container">

<header id="site-header">
	<div id="site-header__row" class="width-wrapper">
		<div id="site-header__brand">
			<a href="/">
				<div id="site-header__logo-mark">
					<img src="/assets/images/primary-logo-mark.png" alt="ADK Avy logo mark">
				</div>
				<h1 id="site-header__logo-text"><span>Adirondack Community</span><span>Avalanche Project</span></h1>
			</a>
		</div>
		<nav id="site-header__observations-links">
			<a href="/observations" class="button button--icon-start button--outlined">
				<i class="button__icon material-symbols-outlined">dynamic_feed</i>
				<span class="button__label">Observations</span>
			</a>
			<a href="/create-observation" class="button button--icon-start button--filled" style="margin-left:1rem">
				<i class="button__icon material-symbols-outlined">edit_square</i>
				<span class="button__label">Post Observation</span>
			</a>
		</nav>
		<button class="button--icon-button" id="nav-menu-open-button">
			<i class="button__icon material-symbols-outlined">menu</i>
		</button>
	</div>
	<nav id="site-header__nav-menu">
		<div class="site-header__nav-menu-close">
			<button class="button--icon-button">
				<i class="button__icon material-symbols-outlined">close</i>
			</button>
		</div>
		<ul>
			<li class="site-header__nav-menu-extra">
				<a href="/observations">
					<i class="material-symbols-outlined">dynamic_feed</i>
					<span>Observations</span>
				</a>
			</li>
			<li class="site-header__nav-menu-extra">
				<a href="/create-observation">
					<i class="material-symbols-outlined">edit_square</i>
					<span>Post Observation</span>
				</a>
			</li>
			<li class="site-header__nav-menu-making-observations">
				<a href="/making-observations">
					<i class="material-symbols-outlined">help_center</i>
					<span>Making Observations</span>
				</a>
			</li>
			<li>
				<a href="/weather">
					<i class="material-symbols-outlined">clear_day</i>
					<span>Local Weather</span>
				</a>
			</li>
			<li>
				<a href="/education">
					<i class="material-symbols-outlined">info</i>
					<span>Avalanche Education</span>
				</a>
			</li>
			<li>
				<a href="/events">
					<i class="material-symbols-outlined">calendar_month</i>
					<span>Events Listing</span>
				</a>
			</li>
			<li class="site-header__nav-incident-reports">
				<a href="/incident-reports">
					<i class="material-symbols-outlined">report</i>
					<span>Incident Reports</span>
				</a>
			</li>
			<li class="site-header__nav-menu-extra">
				<a href="/">
					<i class="material-symbols-outlined">snowshoeing</i>
					<span>Home</span>
				</a>
			</li>
			<li class="site-header__nav-menu-donate">
				<a href="/donate">
					<i class="material-symbols-outlined">volunteer_activism</i>
					<span>Donate</span>
				</a>
			</li>
		</ul>
	</nav>
</header>
